.about {
  padding-top: 128px;
  padding-bottom: 180px;
  background: url(../../images/about.jpg);
  background-size: cover;
}

.about p {
  padding-top: 27px;
  max-width: 888px;
  margin: 0 auto;
  text-align: center;
}