.tours {
  padding: 95px;
  padding-top: 20px;
  width: 100%;
  height: 130vh;
}

.tours h2{
  margin-top: 34px;
  font-weight: bold;
  text-align: left;
}

.tours h3 {
  margin-top: 34px;
  width: 40%;
  font-size: 31px;
}

.tours p {
  font-size: 20px;
  margin-top: 34px;
  width: 40%;
}

.tours .btn {
  margin-top: 68px;
}

.tours {
  background: url(../../images/Group\ 338.png);
  background-size: 100%;
  background-position: 40% 95%;
}